.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.control input {
  font: inherit;
  padding: 0.25rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 98%;
}

.control input:focus {
  outline: none;
  border-color: #4d90fe;
}
.control .invalid {
  color: red;
  background-color: #f8d7da;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: 1px solid #4d90fe;
  background-color: #4d90fe;
  color: white;
  border-radius: 6px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #357ae8;
  border-color: #357ae8;
}

.actions button:disabled {
  background-color: #ccc;
  color: white;
  border-color: #ccc;
  cursor: not-allowed;
}
